<div class="content">
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Proyectos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <div class="intro">
    <h1>Hola, soy Elmer Hernandez</h1>
    <h2>Web Designer</h2>
    <p class="description">{{contenido.description}}</p>
    <p class="mensaje">{{contenido.mensaje}}</p>
  </div>
  <div class="profile-image">
    <img src="https://picsum.photos/300" alt="Elmer Hernandez">

  </div>
</div>

